# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
.next/
out/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Entorno
.env
.env.local
.env.*.local

# Prisma
packages/database/generated/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Test / coverage
coverage/

# Uploads locales / storage
/tmp-uploads/

# Expo
apps/mobile/.expo/
